PORT=8000

DATABASE_URL="postgresql://username:password@localhost:5432/habit_tracker"

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret

CLIENT_URL=http://localhost:3000

NODE_ENV=development